<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Admin | Alfacamp.ml</title>
    <link rel="stylesheet" href="/css/style_admin.css" type="text/css" media="all" />
</head>
<body>
<!-- Header -->
<div id="header">
    <div class="shell">
        <!-- Logo + Top Nav -->
        <div id="top">
            <h1><a href="/admin">Admin</a> | <a href="/">Alfacamp.ml</a></h1>
            <div id="top-navigation">
                Welcome <a href="/admin"><strong>Administrator</strong></a>
                <span>|</span>
                <a href="/admin/logout">Log out</a>
            </div>
        </div>
        <!-- End Logo + Top Nav -->

        <!-- Main Nav -->
        <div id="navigation">
            <ul>
                <li><a href="/admin" class="active"><span>Subjects</span></a></li>
                <li><a href="/admin/topic"><span>Topics</span></a></li>
            </ul>
        </div>
        <!-- End Main Nav -->
    </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
    <div class="shell">

        <!-- Small Nav -->
        <div class="small-nav">
            <a href="/admin">Subjects</a>
            <span>&gt;</span>
            Current Subject
        </div>
        <!-- End Small Nav -->

        <!-- Message OK -->
        <div class="msg msg-ok">
            <p><strong>Your file was uploaded succesifully!</strong></p>
            <a href="#" class="close">close</a>
        </div>
        <!-- End Message OK -->

        <!-- Message Error -->
        <div class="msg msg-error">
            <p><strong>You must select a file to upload first!</strong></p>
            <a href="#" class="close">close</a>
        </div>
        <!-- End Message Error -->
        <br />
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>

            <!-- Content -->
            <div id="content">

                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head">
                        <h2 class="left">Current Subject</h2>
                    </div>
                    <!-- End Box Head -->
                    <form action="/admin/subject/{{_id}}" method="post">

                        <!-- Form -->
                        <div class="form">
                            <p>
                                <label>Subject Name</label>
                                <input type="text" value="{{name}}" name="name" class="field size1" />
                            </p>
                        </div>
                        <!-- End Form -->
                        <!-- Table -->
                        <p style="font-weight: bold; margin-left: 10px;margin-bottom: 5px;font-size: 14px"><label>Topics:</label></p>
                        {{# if topics}}
                        <div class="table">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th>Title</th>
                                    <th width="110" class="ac">Content Control</th>
                                </tr>
                                {{# each topics}}
                                    <tr>
                                        <td><h3><a href="/admin/topic/{{this._id}}">{{this.name}}</a></h3></td>
                                        <td><a href="/admin/topic/{{this._id}}/del?sub=sub" class="ico del">Delete</a>
                                            <a href="/admin/topic/{{this._id}}" class="ico edit">Edit</a></td>
                                    </tr>
                                {{/each}}
                            </table>

                        </div>
                        <!-- Table -->
                        {{else}}
                            <div class="form">
                                <p><label>No Topics in this Subject</label></p>
                            </div>
                        {{/if}}
                        <!-- Form Buttons -->
                        <div class="buttons">
                            <a href="/admin/subject/{{_id}}/del"><input type="button" class="button" value="Delete Subject" /></a>
                            <input type="submit" class="button" value="Update Subject" type="submit" />
                        </div>
                        <!-- End Form Buttons -->
                    </form>
                </div>
                <!-- End Box -->

                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head">
                        <h2>Add New Topic (to this Subject: <b><i>{{name}}</i></b>)</h2>
                    </div>
                    <!-- End Box Head -->

                    <form action="/admin/topic" method="post" id="addtopic">

                        <!-- Form -->
                        <div class="form">
                            <p>
                                <label>Topic Name</label>
                                <input type="text" name="name" class="field size1" />
                            </p>

                            <input type="hidden" name="subject_id" value="{{_id}}"/>
                            <input type="hidden" name="sub" value="sub"/>

                            <p>
                                <label>Theory</label>
                                <textarea class="field size1" rows="10" cols="30" name="theory"></textarea>
                            </p>

                        </div>
                        <!-- End Form -->

                        <!-- Form Buttons -->
                        <div class="buttons">
                            <input type="submit" class="button" value="Add Topic" />
                        </div>
                        <!-- End Form Buttons -->
                    </form>
                </div>
                <!-- End Box -->

            </div>
            <!-- End Content -->

            <div class="cl">&nbsp;</div>
        </div>
        <!-- Main -->
    </div>
</div>
<!-- End Container -->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>