<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Admin | Alfacamp.ml</title>
    <link rel="stylesheet" href="/css/style_admin.css" type="text/css" media="all" />
</head>
<body>
<!-- Header -->
<div id="header">
    <div class="shell">
        <!-- Logo + Top Nav -->
        <div id="top">
            <h1><a href="/admin">Admin</a> | <a href="/">Alfacamp.ml</a></h1>
            <div id="top-navigation">
                Welcome <a href="/admin"><strong>Administrator</strong></a>
                <span>|</span>
                <a href="/admin/logout">Log out</a>
            </div>
        </div>
        <!-- End Logo + Top Nav -->

        <!-- Main Nav -->
        <div id="navigation">
            <ul>
                <li><a href="/admin"><span>Subjects</span></a></li>
                <li><a href="/admin/topic" class="active"><span>Topics</span></a></li>
            </ul>
        </div>
        <!-- End Main Nav -->
    </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
    <div class="shell">

        <!-- Small Nav -->
        <div class="small-nav">
            <a href="/admin/topic">Topics</a>
            <span>&gt;</span>
            <a href="/admin/topic/{{tid}}">Current Topic</a>
            <span>&gt;</span>
            Current Test
        </div>
        <!-- End Small Nav -->

        <!-- Message OK -->
        <div class="msg msg-ok">
            <p><strong>Your file was uploaded succesifully!</strong></p>
            <a href="#" class="close">close</a>
        </div>
        <!-- End Message OK -->

        <!-- Message Error -->
        <div class="msg msg-error">
            <p><strong>You must select a file to upload first!</strong></p>
            <a href="#" class="close">close</a>
        </div>
        <!-- End Message Error -->
        <br />
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>

            <!-- Content -->
            <div id="content">

                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head">
                        <h2>Update Test</h2>
                    </div>
                    <!-- End Box Head -->

                    <form action="/admin/test/{{test._id}}/{{tid}}" method="post" id="addtopic">

                        <!-- Form -->
                        <div class="form">
                            <p>
                                <label>Question:</label>
                                <input type="text" name="question" value="{{test.question}}" class="field size1" />
                            </p>
                            <p>
                                <label>A:</label>
                                <input type="text" name="a" class="field size3" value="{{test.a}}" />
                            </p>
                            <p>
                                <label>B:</label>
                                <input type="text" name="b" class="field size3" value="{{test.b}}" />
                            </p>
                            <p>
                                <label>C:</label>
                                <input type="text" name="c" class="field size3" value="{{test.c}}" />
                            </p>
                            <p>
                                <label>D:</label>
                                <input type="text" name="d" class="field size3" value="{{test.d}}" />
                            </p>
                            <p>
                                <label>Correct:</label>
                                <input type="text" name="correct" class="field size3" value="{{test.correct}}" />
                            </p>

                        </div>
                        <!-- End Form -->

                        <!-- Form Buttons -->
                        <div class="buttons">
                            <a href="/admin/test/{{test._id}}/del/{{tid}}" ><input type="button" class="button" value="Delete Test" /></a>
                            <input type="submit" class="button" value="Update Test" />
                        </div>
                        <!-- End Form Buttons -->
                    </form>
                </div>
                <!-- End Box -->

            </div>
            <!-- End Content -->

            <div class="cl">&nbsp;</div>
        </div>
        <!-- Main -->
    </div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
    <div class="shell">
        <span class="left">&copy; 2017 - AlfaCamp</span>
        <span class="right">
			Design by <a href="http://alfacamp.ml" target="_blank">Alfacamp.ml</a>
		</span>
    </div>
</div>
<!-- End Footer -->

</body>
</html>