<html>
<head>
	<title>AlphaCamp</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
</head>
<body>
	<div id="wrapper">
			<div id="header">
				<div class="container">
					<div class="logo">
						<a href="/" style="text-decoration: none;"><p>AlphaCamp</p></a>
						<a href="/test/{{subject._id}}" style="text-decoration: none;" class="select test">Тест</a>
						<a href="/theory/{{subject._id}}" style="text-decoration: none;" class="select theo">Теория</a>
					</div>
					<div class="button">
						<span><img src="" width="40px"></span>
						<span id="username"></span>
						<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
						<div class="dropdown-content">
							<a href="#">Профиль</a>
						    <a id="logout">Выйти</a>
						</div>
					</div>
				</div>
			</div>

        <div class="block">
            <div class="container2">
                <div class="one">
                    {{# each subject.topics}}
                        <a href="/theory_in/{{../subject._id}}/{{_id}}" style="text-decoration:none" class="two"><div class="circle">
                            <img src="/img/books.svg" width="45px">
                            <h1>{{name}}</h1>
                        </div></a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/js/secondary.js"></script>

<style type="text/css">	

@font-face {
    font-family: 'Lobster';
    src: url('/font-awesome/3952.ttf')  format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: arial;
	background-color: #EBEBEB;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	width: 1050px;
	margin: 0 auto;

}

#header{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	color: #fff;
	background-color: #20A8E9;
}
.button{
	float: right;
	display: table;

}

.logo p{
	font-family: Lobster;
	font-size: 40px;
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	padding-right: 30px;

}
.logo{
	float: left;
	display: table;
}

.select{
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	position: relative;
	top: 3px;
	font-size: 18px;
}

.test{
	width: 80px;
	text-align: center;
	border-radius: 40px;
}

.theo{
	background-color: #1493D1;
	position: relative;
	left: 25px;	
	width: 100px;
	text-align: center;
	border-radius: 40px;
}

.test:hover{
	background-color: #1493D1;
	
}


.button img {
  vertical-align: middle;
  display: table-cell;

}
.button span {
  vertical-align: middle;
  display: table-cell;
  padding-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.logo, .button{
	padding: 20px;
}

.block{
	width: 600px;
	height: 500px;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
	top: 140px;
	border-radius: 10px
}

.circle{
	background-color: #6666FF;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 0 auto;
}

.one img{
	position: relative;
	left: 28px;
	top: 28px;
}

.one h1{
	text-align: center;
	margin-top: 65px;
	font-size: 18px;
	color: #000;	
}

.button {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-top: 10px;
}

.dropdown-content a {
    color: #666666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;

}

.dropdown-content a:hover {background-color: #e6e6e6;border-radius: 10px;}

.button:hover .dropdown-content {
    display: block;
}

.container2{
    width: 400px;
    margin: 0 auto;
}
.two{
    padding-top: 70px;
    margin-left: 65px;
}

.one a{
    display: inline-block;
    vertical-align: middle;
}
</style>